* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    background-color: #ffff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 4.6rem;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: #ffff;
}

.logo img {
    width: 120px;
    margin-left: 20%;
}

iframe{
   width: 100%;
   height: 30rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 4.0rem;
    /*entre os itens do menu. equivale a 8px*/
}

.menu a {
    display: block;
    padding: 1rem;
    margin-top: 1.3rem;
    /*para aumentar a área clicável*/
    color: #4D4C4C;
    font-size: 16.5px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    margin-left: -20%;
}

.menu a:hover {
    color: #046f6f;
}

.label-menu,
.checkbox {
    display: none; /*esconde os itens com a class acima*/
}

.text {
    padding: 50px;
    text-align: center;
    background-color: #ffff;
    color: #046f6f;
  }

  h1{
    color:#046f6f;
  }
  
.footer {
    height: 140px;
    padding: 5px 0;
    background-color: #ffff;
    width: 100%;
}

.footer .redes-footer {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
    margin-top: 1%;
}

.footer .redes-footer a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #4b4c4d;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    opacity: 0.75;
}

.footer .redes-footer a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
    color: #4b4c4d;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 9px;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}

@media (max-width: 1640px) {
    
    .home {
      min-height: 100vh;
      margin-bottom: -40px;
    }

    section {
        padding: 50px 5%;
        transition: .3s;
    }
}


@media (max-width: 1150px) {
    .menu {
        gap: 0.5rem
    }
}

@media (max-width: 969px) {
    .menu {
        display: block;
        position: absolute;
        left: 0%;
        margin-top:4rem;
        text-align: center;
        width: 100%;
        height: 0;
        transition: 0.5s;
        background-color: #ffff;
        z-index: 1;
        overflow-y: hidden;
        visibility: hidden;

    }

    .menu a {
        padding: 1rem 0;
        margin-top: 0rem;
        margin-inline: 1rem;
        border-bottom: 0.1rem solid #046f6f(128, 205, 53, 0.3);
        border-radius: 0;
        font-size: 16.5px;
    }

    .menu a:hover {
        background-color: #046f6f;
        color: #ffff;
        border: 0.1rem solid rgb(2, 91, 75, 0.2);
    }

    .checkbox:checked~.menu {
        height: calc(100vh - 4.6rem);
        visibility: visible;
        overflow-y: auto;
    }

    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.9rem;
        padding-block: 1rem;
        cursor: pointer;
        color: #4D4C4C;
        font-weight: bold;
        font-size: 18px;
        margin-right: 2.5rem;
    }

    .btnhamburguer {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .btnhamburguer::after,
    .btnhamburguer::before {
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background-color: #4D4C4C;
        margin-top: 0.3rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked~.label-menu .btnhamburguer {
        border-top-color: transparent;
    }

    .checkbox:checked~.label-menu .btnhamburguer::before {
        transform: rotate(135deg);

    }

    .checkbox:checked~.label-menu .btnhamburguer::after {
        transform: rotate(-135deg);
        top: -0.4rem;
    }
}

@media (max-width: 880px) {
    .home {
        min-height: 100vh;
        margin-bottom: -40px;
    }
  
    section {
          padding: 50px 5%;
          transition: .3s;
    }

    .menu {
        display: block;
        position: absolute;
        left: 0%;
        text-align: center;
        width: 100%;
        height: 0;
        transition: 0.5s;
        background-color: #ffff;
        z-index: 1;
        overflow-y: hidden;
        visibility: hidden;

    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.1rem solid #046f6f(128, 205, 53, 0.3);
        border-radius: 0;
        font-size: 16.5px;
    }

    .menu a:hover {
        background-color: #046f6f;
        color: #ffff;
        border: 0.1rem solid #046f6f(2, 91, 75, 0.2);
    }

    .checkbox:checked~.menu {
        height: calc(100vh - 4.6rem);
        visibility: visible;
        overflow-y: auto;
    }

    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.9rem;
        padding-block: 1rem;
        cursor: pointer;
        color: #4D4C4C;
        font-weight: bold;
        font-size: 18px;
        margin-right: 2.5rem;
    }

    .btnhamburguer {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .btnhamburguer::after,
    .btnhamburguer::before {
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background-color: #4D4C4C;
        margin-top: 0.3rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked~.label-menu .btnhamburguer {
        border-top-color: transparent;
    }

    .checkbox:checked~.label-menu .btnhamburguer::before {
        transform: rotate(135deg);

    }

    .checkbox:checked~.label-menu .btnhamburguer::after {
        transform: rotate(-135deg);
        top: -0.4rem;
    }

}

@media (max-width: 760px) {
    .home {
        min-height: 100vh;
        margin-bottom: -40px;
    }
  
    section {
          padding: 50px 5%;
          transition: .3s;
    }

    .menu {
        display: block;
        position: absolute;
        left: 0%;
        text-align: center;
        width: 100%;
        height: 0;
        transition: 0.5s;
        background-color: #ffff;
        z-index: 1;
        overflow-y: hidden;
        visibility: hidden;

    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.1rem solid #046f6f(128, 205, 53, 0.3);
        border-radius: 0;
        font-size: 16.5px;
    }

    .menu a:hover {
        background-color: #046f6f;
        color: #ffff;
        border: 0.1rem solid rgb(2, 91, 75, 0.2);
    }

    .checkbox:checked~.menu {
        height: calc(100vh - 4.6rem);
        visibility: visible;
        overflow-y: auto;
    }

    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.9rem;
        padding-block: 1rem;
        cursor: pointer;
        color: #4D4C4C;
        font-weight: bold;
        font-size: 18px;
        margin-right: 2.5rem;
    }

    .btnhamburguer {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .btnhamburguer::after,
    .btnhamburguer::before {
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background-color: #4D4C4C;
        margin-top: 0.3rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked~.label-menu .btnhamburguer {
        border-top-color: transparent;
    }

    .checkbox:checked~.label-menu .btnhamburguer::before {
        transform: rotate(135deg);

    }

    .checkbox:checked~.label-menu .btnhamburguer::after {
        transform: rotate(-135deg);
        top: -0.4rem;
    }

}