* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 4.6rem;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.logo img {
    width: 120px;
    margin-left: 20%;
}

.menu {
    list-style: none;
    display: flex;
    gap: 4.0rem;
}

.menu a {
    display: block;
    padding: 1rem;
    color: #4D4C4C;
    font-size: 16.5px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    margin-left: -20%;
}

.menu a:hover {
    color: #80CC35
}

.label-menu,
.checkbox {
    display: none;
}

section {
    padding: 80px 18%;
}

.home {
    height: 90vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 3rem;
}

.texto-home .p1 {
    margin: 30px 0px 30px;
    font-size: 17px;
    font-weight: 500;
    margin-left: 70px;
    margin-bottom: -20px;
    margin-top: -3%;
    color: #046f6f;
}


.texto-home h3 {
    margin: 30px 0px 10px;
    font-size: 45px;
    margin-left: 70px;
    color: #ff9100;
}


.texto-home .p2 {
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 70px;
    color: #302e29;
}

.texto-home .redes-home {
    margin-left: 70px;
}

.texto-home .redes-home a i {

     color: #046f6f;
    font-size: 29px;
    padding: 10px;
    transition: 0.3s ease;
    margin-top: -80px;
}

.texto-home .redes-home a i:hover {
    opacity: 0.5;
}

.home #btn-reserva a {
    border: 2px solid #046f6f;
    ;
    color: #046f6f;
    ;
    font-size: 15px;
    text-decoration: none;
    border-radius: 30px;
    float: left;
    position: relative;
    top: 18px;
    padding: 13px;
    transition: 0.3s ease;
    margin-left: 70px;
}

.home #btn-reserva a:hover {
    background-color: #ffffff;
    border: 2px solid #80CC35;
    color: #046f6f;
    font-size: 15px;
}

.img-home img {
    width: 85%;
    height: auto;   

}

.footer {
    padding: 5px 0;
    background-color: #ffffff;
    margin-top: 3.3%;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 9px;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}

@media (max-width: 1640px) {
    .home {
        height: 80vh;
        padding-top: 80px;
    }

    section {
        padding: 50px 7%;
        transition: .3s;
    }
}

@media (max-width: 1150px) {
    .menu {
        gap: 0.5rem
    }

    .texto-home{
        margin-top: 20%;
    }

    .img-home{
        margin-top: 10%;
    }
}

@media (max-width: 969px) {
    .menu {
        display: block;
        position: absolute;
        top: 4.6rem;
        left: -0.1%;
        text-align: center;
        width: 100%;
        height: 0;
        transition: 0.5s;
        background-color: #FDFEEC;
        z-index: 1;
        overflow-y: hidden;
        visibility: hidden;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.1rem solid rgba(128, 205, 53, 0.3);
        border-radius: 0;
        font-size: 16.5px;
    }

    .menu a:hover {
        background-color:#046f6f;
        color: #FDFEEC;
        border: 0.1rem solid rgb(2, 91, 75, 0.2);
    }

    .checkbox:checked~.menu {
        height: calc(100vh - 4.6rem);
        visibility: visible;
        overflow-y: auto;
    }

    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.9rem;
        padding-block: 1rem;
        cursor: pointer;
        color: #4D4C4C;
        font-weight: bold;
        font-size: 18px;
        margin-right: 2.5rem;
    }

    .btnhamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;

    }

    .btnhamburger::after,
    .btnhamburger::before {

        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background-color: #4D4C4C;
        margin-top: 0.3rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked~.label-menu .btnhamburger {
        border-top-color: transparent;
    }

    .checkbox:checked~.label-menu .btnhamburger::before {
        transform: rotate(135deg);

    }

    .checkbox:checked~.label-menu .btnhamburger::after {
        transform: rotate(-135deg);
        top: -0.4rem;
    }
}

@media (max-width: 880px) {
    .home {
        height: 75vh;
        padding-top: 100px;
    }

    section {
        padding: 80px 3%;
    }

    .header{
        background-color: #FDFEEC;
    }

    .menu {
        display: block;
        position: absolute;
        top: 4.6rem;
        left: -0.1%;
        text-align: center;
        width: 100%;
        height: 0;
        transition: 0.5s;
        background-color: #FDFEEC;
        z-index: 1;
        overflow-y: hidden;
        visibility: hidden;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.1rem solid rgba(128, 205, 53, 0.3);
        border-radius: 0;
        font-size: 16.5px;
    }

    .menu a:hover {
        background-color: #046f6f;
        color: #FAFAFF;
        border: 0.1rem solid rgb(2, 91, 75, 0.2);
    }

    .checkbox:checked~.menu {
        height: calc(100vh - 4.6rem);
        visibility: visible;
        overflow-y: auto;
    }

    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.9rem;
        padding-block: 1rem;
        cursor: pointer;
        color: #4D4C4C;
        font-weight: bold;
        font-size: 18px;
        margin-right: 2.5rem;
    }

    .btnhamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;

    }

    .btnhamburger::after,
    .btnhamburger::before {

        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background-color: #4D4C4C;
        margin-top: 0.3rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked~.label-menu .btnhamburger {
        border-top-color: transparent;
    }

    .checkbox:checked~.label-menu .btnhamburger::before {
        transform: rotate(135deg);

    }

    .checkbox:checked~.label-menu .btnhamburger::after {
        transform: rotate(-135deg);
        top: -0.4rem;
    }

    .footer{
        margin-top: 10%;;
    }

}

@media (max-width: 760px) {
    
    header {
        background-color: #FDFEEC;
    }

    .menu {
        display: block;
        position: absolute;
        top: 4.6rem;
        left: -0.1%;
        text-align: center;
        width: 100%;
        height: 0;
        transition: 0.5s;
        background-color: #FDFEEC;
        z-index: 1;
        overflow-y: hidden;
        visibility: hidden;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.1rem solid rgba(128, 205, 53, 0.3);
        border-radius: 0;
        font-size: 16.5px;
    }

    .menu a:hover {
        background-color: #046f6f;
        color: #FDFEEC;
        border: 0.1rem solid rgb(2, 91, 75, 0.2);
    }

    .checkbox:checked~.menu {
        height: calc(100vh - 4.6rem);
        visibility: visible;
        overflow-y: auto;
    }

    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.9rem;
        padding-block: 1rem;
        cursor: pointer;
        color: #4D4C4C;
        font-weight: bold;
        font-size: 18px;
        margin-right: 2.5rem;
    }

    .btnhamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;

    }

    .btnhamburger::after,
    .btnhamburger::before {

        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background-color: #4D4C4C;
        margin-top: 0.3rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked~.label-menu .btnhamburger {
        border-top-color: transparent;
    }

    .checkbox:checked~.label-menu .btnhamburger::before {
        transform: rotate(135deg);

    }

    .checkbox:checked~.label-menu .btnhamburger::after {
        transform: rotate(-135deg);
        top: -0.4rem;
    }
    
    .home {
        grid-template-columns: 1fr;
        height: 100vh;
        grid-gap: 1rem;
        padding-top: 150px;
    }

    .texto-home {
        text-align: center;
        top: 10%;
        margin-left: -5%;
    }

    .img-home {
        text-align: center;
        margin-top: 40px;
        margin-left: 7%;
    }

    .img-home img {
        max-width: 100%;
        height: auto;
    }

    .home #btn-reserva a {
        float: inherit;
        margin-top: 30%;
    }
    
    .footer{
        margin-top: 70%;;
    }

}

@media (max-width: 400px) {
    .img-home {
        text-align: center;
        margin-top: 40px;
    }

    .texto-home {
        text-align: center;
        top: 10%;
        margin-left: -17%;
    }

}